@model List<string>


<h2>Baştan sil  <a type="submit" asp-action="DeleteFirstItem" asp-controller="ListTypes">Sil</a> </h2>

<form method="post" asp-action="Add" enctype="application/x-www-form-urlencoded">

    <input type="text" name="name"/>
    <button type="submit">Kaydet</button>
</form>
@foreach (var item in Model)
{
    <h2>@item  <a type="submit" asp-route-name="@item" asp-action="DeleteItem" asp-controller="ListTypes">Sil</a> </h2>
}