@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* <h2>@ViewBag.nameval</h2>
<h2>@ViewBag.ziyval</h2> *@
@* <h1>@ViewBag.rangevalue</h1> *@
<h1>@ViewBag.lengthvalue</h1>